<div class="row">
    <div class="col s6 offset-s3">
        <div class="card">
            <div class="row">
                <div class="col s6">
                    <h2>Quiz Registration</h2>
                </div>
                <div class="col s6">
                    <img src="/assets/images/quiz-logo.png" style="width: 200px;height: 200px;" class="offset-s3">
                </div>
            </div>

            <div class="card-content">
                <form #registerform="ngForm" (ngSubmit)="onSubmit(name.value, email.value)">
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">account_circle</i>
                            <input type="text" name="name" #name ngModel required>
                            <label>Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">mail_outline</i>
                            <input type="text" name="email" #email ngModel required>
                            <label>Email</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <button class="btn-large btn-submit" type="submit"
                                [disabled]="!registerform.valid">Start</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>